* {
  margin: 0;
}

p,
li,
#kryds {
  font-family: "Open Sans", sans-serif;
}

#popup {
  background-color: cornsilk;
  width: 84vw;
  height: 200px;
  display: none;
  position: fixed;
  top: 39vh;
  padding: 10px;
  margin: 5%;
  /* animation */
  animation-name: popup_kf;
  animation-duration: 0.3s;
  animation-direction: alternate;
}

@keyframes popup_kf {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

#kryds {
  position: relative;
  left: 96%;
  font-size: 1.5rem;
  width: fit-content;
  cursor: pointer;
}

#welcome {
  background-color: rgb(182, 223, 226);
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

#welcome h1 {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
  font-size: 1.9rem;
}

#welcome p {
  padding: 10px;
  color: aliceblue;
  max-width: 500px;
  margin-top: 10px;
}

li {
  list-style: none;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*          TABLET          */
@media screen and (min-width: 1023px) {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  #welcome {
    width: 50vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    z-index: 100;
    /* animation */
    animation-name: welcome_kf;
    animation-duration: 2s;
    animation-direction: alternate;
  }

  @keyframes welcome_kf {
    0% {
      width: 100vw;
    }

    100% {
      width: 50vw;
    }
  }

  #all_actors {
    width: 50vw;
    right: 0;
    position: absolute;
  }

  #popup {
    width: 45vw;
    height: 300px;
    top: 30vh;
    margin: 2%;
  }
}
